/* Header */
.headerText {
  display: flex;
  background-color: #f5f5f5;
  color: #333333;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(49, 197, 19, 0.25) 0px 30px 60px -12px inset,
    rgba(32, 200, 38, 0.3) 0px 18px 36px -18px inset;
}

/* Buttons */
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

/* Create artist button */
.CreateArtistButton {
  margin: 2% 2% 2% 2%;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #333333;
  color: #f5f5f5;
}

/* Create artist form */
.createArtist {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 2%;
  border: 2px solid #333333;
  padding: 1em;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: auto;
  color: #f5f5f5;
  background-color: #333333;
}

.createArtist input {
  width: 100%;
  margin-bottom: 1em;
}

.createArtist label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.artist p {
  text-align: center;
}

/* Artist card */
.artist {
  display: flex;
  margin: 2%;
  padding: 1em;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #333333;
}

.artist h2 {
  margin-bottom: 0.5em;
}
/* Create list form */
.createList {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 2% 2% 2%;
}

.createList input {
  margin-right: 0.5em;
  margin-bottom: 1em;
  width: 95%;
}

.createList button {
  margin-bottom: 1em;
  width: 30%;
  background-color: #f5f5f5;
  color: #333333;
  font-weight: bold;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #333333;
  background-color: #f5f5f5;
  color: #333333;
  margin-top: 7px;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
}

.artistLoadedMedia {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 30px;
  overflow: scroll;
}

.artistDetails {
  border-radius: 10px;
  box-shadow: rgba(49, 197, 19, 0.25) 0px 30px 60px -12px inset,
    rgba(32, 200, 38, 0.3) 0px 18px 36px -18px inset;
  max-width: 200px;
  text-align: center;
}

.UploadPic {
  margin-top: 35px;
  margin-bottom: 0px;
}

.artistInfo {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.artistName {
  margin: 10px 10px 30px 10px;
  text-align: center;
}

.artistProfilePic {
  margin-top: 20px;
  margin-bottom: 30px;
  max-height: 75px;
  height: auto;
  border-radius: 50%;
}

.contact-info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.ratings {
  margin-bottom: 15px;
}

.artistContactButton {
  border: 2px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #333333;
  color: #f5f5f5;
  box-shadow: rgba(49, 197, 19, 0.25) 0px 30px 60px -12px inset,
    rgba(32, 200, 38, 0.3) 0px 18px 36px -18px inset;
}

.contact-info-box {
  position: relative;
  background-color: #fff;
  width: 335px;
  height: auto;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  border-radius: 10px;
  box-shadow: rgba(49, 197, 19, 0.25) 0px 30px 60px -12px inset,
    rgba(32, 200, 38, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
}

.contact-info-box a {
  display: block;
  margin-top: 16px;
}

.contact-info-box .contact-info-item {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: rgba(49, 197, 19, 0.25) 0px 30px 60px -12px inset,
    rgba(32, 200, 38, 0.3) 0px 18px 36px -18px inset;
  width: 300px;
  text-align: center;
}

.contact-info-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.media {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
  background-size: cover;
  padding-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected {
  width: 400px;
  height: 400px;
  transition: all 0.3s ease;
}

.mediaGridText {
}
